@keyframes scrollDownEyecatcher {
	0% {
		top: 92%;
	}

	50% {
		top: 94%;
	}

	100% {
		top: 92%;
	}
}

// banner animations

@keyframes textVerticalScroll {
	to {
		transform: translateX(calc(-100% - 150px));
	}
}

@keyframes textBorderShake {
	0% {
		transform: translateX(100%);
	}
	20% {
		transform: translateX(50%);
	}

	40% {
		transform: translateX(0);
	}

	60% {
		transform: translateX(-15%);
	}

	80% {
		transform: translateX(5%);
	}

	100% {
		transform: translateX(0);
	}
}
