@use './sass/reset';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$main-color: #333;
$secondary-color: #fff;
$special-color: #2ade72;
$inactive-color: #989797;
$footer-color: #f5f5f5;

html {
	scroll-padding-top: 7em;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 85%;
	max-width: 1450px;
}

.nav-logo,
.footer-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 0.75em;
	color: $main-color;

	&__logo {
		height: 32px;
	}

	&__title {
		font-size: 3.2rem;
	}
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.75em 0;
	width: 100%;
	background-color: $secondary-color;
	z-index: 3;

	&__content {
		width: 92.5%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.burger-btn {
			padding: 0.75em 1.25em;
			background: none;
			border-radius: 8px;
			transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

			div {
				margin: 7px;
				width: 35px;
				height: 3px;
				background-color: $main-color;
				transition: transform 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 0.45s;
			}
		}

		.burger-active {
			transform: translateX(12%);

			div:nth-child(1) {
				transform: rotate(45deg) translateY(450%);
			}

			div:nth-child(2) {
				transform: translateX(50%);
				opacity: 0;
			}

			div:last-child {
				transform: rotate(-45deg) translateY(-500%);
			}
		}

		.nav-mobile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 80px;
			left: 0;
			padding-bottom: 1em;
			transform: translateY(-120%);
			width: 100%;
			background-color: $secondary-color;
			transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
				opacity 0.4s cubic-bezier(0.86, 0.5, 0.7, 0.27);
			z-index: 4;
			opacity: 0;
			list-style: none;
			visibility: hidden;

			.nav-link {
				outline: none;
				padding: 1em;
				text-align: center;
				width: 100%;
				font-size: 2.2rem;
				color: $secondary-color;
				transition: color 0.5s, background-color 0.3s;

				&:hover,
				&:focus {
					color: $secondary-color;
					background-color: $main-color;
				}
			}
		}

		.nav-active {
			opacity: 1;
			transform: translateY(0);

			.nav-link {
				color: $main-color;
			}
		}
	}
}

.hero-img {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('./assets/images/hero-medium.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $secondary-color;
	z-index: 0;

	.hero {
		height: 100vh;

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.65);
			z-index: -1;
		}

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 1em;
			height: 100%;

			h2 {
				font-size: 2.8rem;
				font-weight: normal;
			}

			p {
				font-size: 3.2rem;
				font-weight: bold;
			}
		}

		&__skip {
			position: absolute;
			top: 92%;
			left: 50%;
			padding: 1em 1.5em;
			transform: translate(-50%, -50%);
			animation: jingle 2.5s linear infinite;

			img {
				height: 60px;
			}
		}
	}
}

.section {
	padding: 5em 0;

	&__title {
		margin-bottom: 1.25em;
		font-size: 3.4rem;
		font-weight: 450;
		text-align: center;
		text-transform: uppercase;
	}

	&__content {
		display: grid;
		grid-auto-rows: auto;
		gap: 1em;

		&--image {
			width: 100%;
		}
	}
}

.eyecatcher {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
	background-image: url('./assets/images/eyecatcher-small.jpg');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -1;
	}

	&__text-border {
		position: relative;
		width: 85%;
		height: 7em;
		border: 2px solid $secondary-color;
		overflow: hidden;
	}

	&__moving-text {
		top: 50%;
		transform: translateY(-50%);
		white-space: nowrap;
		position: absolute;
		right: -80vw;
		width: 100%;
		font-size: 4rem;
		color: $secondary-color;
		font-weight: 600;
	}

	.animation {
		animation: movingText 10s linear infinite;
	}
}

.offer-text {
	font-size: 2.8rem;
	text-align: center;
	margin-bottom: 2.5em;
}

.offer-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;

	.offer-card {
		padding: 2em 3em;
		max-width: 400px;
		width: 100%;
		min-width: 260px;
		text-align: center;
		border-radius: 8px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);

		&__title {
			margin-bottom: 0.5em;
			font-size: 3rem;
			font-weight: normal;
		}

		&__price {
			font-size: 5rem;
			font-weight: 600;
		}

		&__list {
			margin: 2em 0 3em;
			list-style: none;

			.list-element {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 0.75em;
				margin-bottom: 0.5em;
				color: $main-color;

				&--inactive {
					color: $inactive-color;
				}

				img {
					width: 20px;
				}

				span {
					text-align: left;
					font-size: 1.8rem;
				}
			}
		}

		&__button {
			outline: none;
			display: block;
			padding: 0.5em;
			width: 100%;
			background: none;
			font-size: 2rem;
			border-radius: 8px;
			box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
			transition: color 0.3s, background-color 0.3s;

			&--special {
				background-color: $special-color;
			}

			&:hover,
			&:focus {
				color: $secondary-color;
				background-color: $main-color;
			}
		}
	}
}

.offer-more {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	align-self: center;
	font-size: 2.2rem;

	a {
		padding: 0.5em 1.5em;
		color: $main-color;
		background-color: $special-color;
		text-transform: uppercase;
		border-radius: 8px;

		&:hover,
		&:focus {
			color: $secondary-color;
			background-color: $main-color;
		}
	}
}

.footer {
	padding: 2em 0;
	background-color: $footer-color;

	.footer-logo {
		margin: 0 auto;
		max-width: max-content;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 2em;
		list-style: none;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
			.links {
				display: flex;
				gap: 1em;
				list-style: none;

				.footer-link {
					padding: 0.25em;
					color: $main-color;
					transition: opacity 0.3s;

					&:hover,
					&:focus {
						opacity: 0.7;
					}
				}
			}
		}
	}

	&__copyright {
		margin-top: 2em;
		text-align: center;
	}
}

@media (width > 1200px) {
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		padding: 0.75em 0;
		width: 100%;
		background-color: $secondary-color;
		z-index: 3;

		&__content {
			width: 92.5%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.nav-mobile {
				display: none;
			}

			.burger-btn {
				display: none;
			}

			.nav-desktop {
				display: flex;
				list-style: none;
			}
		}
	}
}

@keyframes movingText {
	0% {
		right: -80vw;
	}

	100% {
		right: 160vw;
	}
}

@keyframes jingle {
	0% {
		top: 92%;
	}

	50% {
		top: 94%;
	}

	100% {
		top: 92%;
	}
}
